/* esercizio 1 */
.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: all 1s;
}

/* esercizio 2 */
.ex-2-square:hover{
    width: 100%;
}

.ex-2-square{
    transition: all 1s;
}

/* esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: all 1s;
}

/* esercizio 4 */
.ex-4-square:hover{
    opacity: 0;
}

.ex-4-square{
    transition: all 1s;
}

/* esercizio 5 */
.ex-5-square:hover{
    transform: scale(2);
position: relative;
}

.ex-5-square:active{
    transform: scale(0.5);
    }
    

.ex-5-square{
    transition: all 1s;
}

/* esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}
/* esercizio 7 */
.ex-7-img:hover{
    filter: sepia(1);
}

.ex-7-img{
    transition: all 1s;
}

/* esercizio 8*/
.ex-8-img:hover{
    border-radius: 25px;
    filter: saturate(0.3);
}

.ex-8-img{
    transition: all 1s;
}

/* esercizio 9*/
.ex-9-img:hover{
    border-radius: 25px;
    filter: saturate(0.3);
    transform: scale(2);
    position: relative;
}

.ex-9-img{
    transition: all 1s;
}

/* esercizio 9*/
.ex-9-img:hover{
    border-radius: 25px;
    filter: saturate(0.3);
    transform: scale(1.5);
    position: relative;
}

.ex-9-img{
    transition: all 1s;
}

/* esercizio 10*/
.ex-10-icon{
    animation: gira-tutto 1s infinite linear;
}

@keyframes gira-tutto {
0%{ transform: rotate(0deg); }
50%{ transform: rotate(180deg); }
100%{ transform: rotate(360deg); }
}

/* esercizio 11*/
.ex-11-icon:hover{
    animation: gira-quasi-tutto 1.5s linear;
}

@keyframes gira-quasi-tutto {
0%{ transform: rotate(0deg); }
90%{ transform: rotate(270deg); }
}

/* esercizio 12*/
.ex-12-button:hover .ex-12-top-white{
    animation: gira-bordo-top-12 1s linear 2 ;
}

@keyframes gira-bordo-top-12 {
0%{ position: absolute; left: 10%; top: -10px; }
50%{ position: absolute; left: calc(100% - 60px); }
100%{ position: absolute; left: 10%; top: -10px; }

}

.ex-12-button:hover .ex-12-bottom-white{
    animation: gira-bordo-bottom-12 1s linear 2 ;
}

@keyframes gira-bordo-bottom-12{
0%{ position: absolute; right: 20%; bottom: -10px; }
50%{ position: absolute; right: calc(100% - 60px); }
100%{ position: absolute; right: 20%; bottom: -10px; }

}

/* esercizio 13*/
.ex-13-button:hover .ex-13-top-white{
    animation: gira-bordo-top-13 2s linear 2 ;
}

@keyframes gira-bordo-top-13 {
0%{ position: absolute; left: 10%; top: -10px; }
20%{ position: absolute; left: 85%; top: -10px; }
40%{ position: absolute; left: 85%; top: 85%; }
60%{ position: absolute; left: -20px; top: 85%; }
80%{ position: absolute; left: -20px; top: -10px; }
100%{ position: absolute; left: 10%; top: -10px; }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: gira-bordo-bottom-13 2s linear 2 ;
}

@keyframes gira-bordo-bottom-13 {
0%{ position: absolute; right: 20%; bottom: -10px; }
20%{ position: absolute; right: 75%; bottom: -10px; }
40%{ position: absolute; right: 75%; bottom: 85%; }
60%{ position: absolute; right: -20px; bottom: 85%; }
80%{ position: absolute; right: -20px; bottom: -10px; }
100%{ position: absolute; right: 20%; bottom: -10px; }

}




